<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TTCSServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TCS_Usecured" closeTimeout="00:05:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="30" maxReceivedMessageSize="2147483647">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="TTCSConnection.Connection">
        <endpoint behaviorConfiguration="myNetTcpEndPointBehaviour" address="TCSService" binding="netTcpBinding" bindingConfiguration="TCS_Usecured" contract="TTCSConnection.IConnection" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8092/DataCollectionService" />
            <add baseAddress="http://localhost:8081/DataCollectionService" />
            <!--<add baseAddress="net.tcp://192.168.70.210:8092/DataCollectionService" />
            <add baseAddress="http://192.168.70.210:8081/DataCollectionService" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="myNetTcpEndPointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>


  <userSettings>
    <TTCSServer.Properties.Settings>
      <setting name="DeviceLostConnectionTime" serializeAs="String">
        <value>5</value>
      </setting>
    </TTCSServer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/AstroDataModel.csdl|res://*/AstroDataModel.ssdl|res://*/AstroDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.110\SQLExpress;initial catalog=AstroDatabase;persist security info=True;user id=sa;password=P@ss3610a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/AstroDataModel.csdl|res://*/AstroDataModel.ssdl|res://*/AstroDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pakawatNote\SQLEXPRESS;initial catalog=AstroDatabase;persist security info=True;user id=sa;password=P@ss3610a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>